h1{
    color:red;
    text-align: center;
}

@media only screen and (min-width:992px){
    .container {
        display: grid;
        grid-template-areas: 
        "a a a a b b b b c c c c"
        "a a a a b b b b c c c c";
    }
    
}

@media only screen and (min-width:768px)and (max-width:991px){
    .container {
        display: grid;
        grid-template-areas: 
        "a a a b b b"
        "c c c c c c";
    }
    
}

@media only screen and (max-width: 767px){
    .container {
        display: grid;
        grid-template-areas: 
        "a a a a a a"
        "b b b b b b"
        "c c c c c c";
    }
    
}

.container > div{
    border: solid 2px green;
    margin: 5px;
    background-color: lightblue;
}

.biryani{
    grid-area: a;
}

.pulav {
    grid-area: b;
}

.eggrice {
    grid-area: c;
}
.wrapper {
    display: flex;
    justify-content: flex-end;
}

h2 {
    border: solid 2px black;
    margin-top:0px;
    background-color: rosybrown;
    width: 150px;
    text-align: center;
}

p {
    margin: 5px;
}
